@normalSpacing:         10px;

@logo_color:            #1C8237;
@light_color:           #ffffff;
@light_gray_color:      #afafaf;
@dark_color:            #000000;
@secondary_color:       #07396D;
@menu_color:            #6A88A7;
@menu_selected_color:   #07396D;


@quarter:               calc(100% / 4);
@third:                 calc(100% / 3);
@half:                  calc(100% / 2);
@twothird:              calc(2 / 3 * 100%);
@threequarter:          calc(3 / 4 * 100%);
@full:                  100%;
