body {
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body header {
  float: left;
  height: 290px;
  margin: 0;
  padding: 0;
  width: 100%;
}
body header .phone,
body header .info {
  background-color: #1c8237;
  color: #ffffff;
  float: left;
  font-size: 10px;
  height: 12px;
  line-height: 12px;
  padding: 2px 1%;
  position: relative;
  text-align: right;
  width: calc(48%);
  z-index: 9;
}
body header .info {
  text-align: left;
}
body header .phone {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
body header .header-top {
  background-color: rgba(28, 130, 55, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  float: left;
  padding: 0 10%;
  position: relative;
  width: 80%;
  z-index: 9;
}
body header .header-top .logo {
  height: 100px;
  float: left;
  margin: 1%;
}
body header .header-top .logo img {
  display: block;
  margin: 0 auto;
}
body header .header-top nav {
  float: right;
  height: 40px;
  line-height: 30px;
  width: 420px;
}
body header .header-top nav ul.menu {
  float: left;
  width: 100%;
}
body header .header-top nav ul.menu li {
  float: left;
  margin: 0 2%;
  text-align: center;
}
body header .header-top nav ul.menu li:hover a,
body header .header-top nav ul.menu li.selected a {
  text-shadow: 0px 0px 1px #1f5a2f;
}
body header .header-top nav ul.menu li a {
  color: #000000;
  display: block;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
  text-decoration: none;
  text-shadow: 0px 0px 1px #ffffff;
  width: 100%;
}
body header .header-top > div {
  float: left;
}
body header .bg-header {
  max-height: 280px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 1;
}
body header .bg-header img {
  display: block;
  float: left;
  opacity: 0.8;
  position: relative;
  width: 100%;
}
body header .bg-header h1 {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
  z-index: 99;
  text-shadow: 0px 0px 10px #000000;
  font-size: 4em;
  color: #ffffff;
}
body .content {
  float: left;
  font-size: 14px;
  margin: 0 10% 50px;
  position: relative;
  width: 80%;
  z-index: 9;
}
body .content h2 {
  margin-bottom: 10px;
  margin-top: calc(20px);
}
body .content .img_list {
  display: block;
  float: left;
  width: 100%;
}
body .content .box {
  color: black;
  float: left;
  margin: 10px 0;
  padding: 10px;
  position: relative;
}
body .content .box.full {
  width: calc(100% - 20px);
}
body .content .box.half {
  width: calc(50% - 20px);
}
body .content .box h2 {
  margin: 0 0 10px 0;
}
body form {
  float: left;
  width: 100%;
}
body form label {
  float: left;
  margin: 0 0 calc(5px);
  width: 100%;
}
body form input,
body form textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #000000;
  float: left;
  height: 24px;
  line-height: 24px;
  margin: 0 0 10px;
  padding-left: 5px;
  width: 100%;
}
body form textarea {
  height: 100px;
  line-height: 20px;
}
body em {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
body em.normal {
  font-style: normal;
}
body .fancybox-image {
  width: 100%;
}
body footer {
  background-color: #1c8237;
  bottom: 0;
  -webkit-box-shadow: 0 0 50px -20px #000000;
  -moz-box-shadow: 0 0 50px -20px #000000;
  box-shadow: 0 0 50px -20px #000000;
  color: #ffffff;
  float: left;
  height: 20px;
  line-height: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
body footer .footer {
  text-align: center;
  width: 100%;
}
.clearBoth {
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.spacingTop {
  margin-top: 10px;
}
.spacingtop2x {
  margin-top: 20px;
}
.spacingBottom {
  margin-bottom: 10px;
}
.spacingBottom2x {
  margin-bottom: 20px;
}
.spacingRight {
  margin-right: 10px;
}
.spacingRight2x {
  margin-right: 20px;
}
.spacingLeft {
  margin-left: 10px;
}
.spacingLeft2x {
  margin-left: 20px;
}
