body {
  background-color: #ffffff;
}
body #container {
  margin: 0 auto;
  width: 1024px;
}
body header {
  background-color: #ffffff;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  -webkit-box-shadow: 0 0 50px -10px #000000;
  -moz-box-shadow: 0 0 50px -10px #000000;
  box-shadow: 0 0 50px -10px #000000;
  float: left;
  padding: 0;
  width: 100%;
}
body header .header-top h1 {
  float: left;
  text-indent: -999em;
  font-size: 1px;
}
body header .header-top h2,
body header .header-top h3 {
  font-weight: normal;
}
body header .header-top h1,
body header .header-top h2,
body header .header-top .phone {
  color: #1c8237;
}
body header .header-top .logo,
body header .header-top .info,
body header .header-top .phone {
  height: 100px;
}
body header .header-top .logo {
  background: transparent url('../images/ico/menu_separator.jpg') repeat-y right center;
  width: calc(25%);
}
body header .header-top .logo img {
  display: block;
  margin: 0 auto;
}
body header .header-top .info {
  background: transparent url('../images/ico/menu_separator.jpg') repeat-y right center;
  width: calc(50%);
}
body header .header-top .info .sub {
  padding: 20px;
  text-align: center;
}
body header .header-top .info .sub:first-child {
  padding-bottom: 0;
}
body header .header-top .phone {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
  width: calc(25%);
}
body header .header-top > div {
  float: left;
}
body header nav {
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  float: left;
  width: 100%;
}
body header nav ul.menu {
  background: #6a88a7 url('../images/ico/menu_separator.jpg') repeat-y left center;
  float: left;
  width: 100%;
}
body header nav ul.menu li {
  background: transparent url('../images/ico/menu_separator.jpg') repeat-y right center;
  float: left;
  text-align: center;
  width: 25%;
}
body header nav ul.menu li:hover,
body header nav ul.menu li.selected {
  background-color: #07396d;
}
body header nav ul.menu li a {
  color: #ffffff;
  display: block;
  font-size: 18px;
  padding: 5px 0;
  text-decoration: none;
  width: 100%;
}
body .content {
  background-color: #ffffff;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  -webkit-box-shadow: 0 0 50px -10px #000000;
  -moz-box-shadow: 0 0 50px -10px #000000;
  box-shadow: 0 0 50px -10px #000000;
  float: left;
  font-size: 14px;
  width: calc(100% - 40px);
  padding: 20px;
}
body .content h2 {
  margin-bottom: 10px;
  margin-top: 20px;
}
body .content .img_list {
  display: block;
  float: left;
  width: 100%;
}
body .content .box {
  color: black;
  float: left;
  margin: 10px 0;
  position: relative;
  width: calc(33.33333333%);
}
body .content .box.full {
  width: 100%;
}
body .content .box.fancybox {
  cursor: pointer;
}
body .content .box img {
  -webkit-box-shadow: 0 0 20px 0px #000000;
  -moz-box-shadow: 0 0 20px 0px #000000;
  box-shadow: 0 0 20px 0px #000000;
  display: block;
  margin: 0 auto;
  width: 100%;
}
body .content .box .img_desc {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
  background-color: rgba(255, 255, 255, 0.7);
  height: calc(100% - 40px);
  left: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: 0px;
  width: calc(100% - 40px);
}
body .content .box .img_desc:hover {
  opacity: 1;
}
body .content .box .img_desc .title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}
body .fancybox-image {
  width: 100%;
}
body footer {
  background-color: #ffffff;
  border-left: 1px solid #afafaf;
  border-right: 1px solid #afafaf;
  -webkit-box-shadow: 0 0 50px -20px #000000;
  -moz-box-shadow: 0 0 50px -20px #000000;
  box-shadow: 0 0 50px -20px #000000;
  background-color: white;
  float: left;
  height: 20px;
  line-height: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  width: 100%;
}
body footer .footer {
  text-align: center;
  width: 100%;
}
.clearBoth {
  clear: both;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.spacingTop {
  margin-top: 10px;
}
.spacingtop2x {
  margin-top: 20px;
}
.spacingBottom {
  margin-bottom: 10px;
}
.spacingBottom2x {
  margin-bottom: 20px;
}
.spacingRight {
  margin-right: 10px;
}
.spacingRight2x {
  margin-right: 20px;
}
.spacingLeft {
  margin-left: 10px;
}
.spacingLeft2x {
  margin-left: 20px;
}
